{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "globals": {
      "game": "readonly",
      "Hooks": "readonly",
      "Actor": "readonly"
      // Add other Foundry VTT globals as needed
    },
    "rules": {
      // Customize your rules here
    }
  }